/* Root Css */
:root {
    --bg-prm: rgb(129, 173, 255);
    --bg-2: rgb(92, 116, 255);
    --bg-3: rgb(3, 134, 255);
    --text-black: rgba(0, 0, 0, 0.849);
    --color-primary: rgba(255, 255, 255, 0.916);
    --text-white: rgba(255, 255, 255, 0.97);
}
* {
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
body.active {
    position: fixed;
}

.navbar-f.sticky {
    padding: 0.2rem 0;
    background-color: rgba(3, 134, 255, 0.71);
}
/* Navbar Start */
.navbar-f {
    padding: 0.6rem 0;
    right: 0;
    background-color: var(--bg-3);
    transition: 0.4s ease;
    user-select: none;
    z-index: 10;
}
.navbar-f .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    width: 60%;
    height: 100vh;
    display: block;
    top: 100%;
    right: -100%;
    background-color: var(--bg-prm);
    list-style: none;
    padding: 0;
    transition: 0.4s linear;
}
.navbar-link.active {
    right: 0;
}
.navbar-link li {
    display: flex;
    flex-direction: column;
}
.navbar-link li > a {
    color: var(--color-primary);
    padding: 0.4rem 0.5rem;
    margin-top: 0.4rem;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
}
.navbar-link li > a:hover {
    color: var(--text-black);
    background-color: rgba(0, 20, 230, 0.079);
}
.dropdown-menu a {
    color: var(--text-black) !important;
}
.dropdown-menu a:hover {
    color: var(--text-white) !important;
    background-color: rgba(0, 3, 33, 0.31) !important;
}

.navbar-fitur {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.f-nav {
    margin-top: 0.4rem;
}

.search-navbar {
    position: absolute;
    top: 100%;
    left: 5vw;
    width: 90%;
    transform: scaleY(0);
    transform-origin: top;
    margin-top: 0.2rem;
    transition: 0.4s linear;
}
.search-navbar.active {
    transform: scaleY(1);
}
/* Navbar End */
/* Header Start */
.header-slide {
    width: 96%;
    margin: 4.8rem auto 0.5rem !important;
    user-select: none;
}

.img-slide {
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
/* header End */
/* Menu Start */
.menu {
    width: 100%;
    padding: 1rem 0;
    user-select: none;
}

.menu .heading-menu,
.popular .heading-popular,
.new-game .heading-game {
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    border-left: 0.2rem solid var(--bg-3);
    font-weight: 600;
}
.menu .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
    gap: 0.2rem;
}
.box-menu {
    display: flex;
    align-items: center;
    background-color: var(--bg-3);
    padding: 0.6rem 0.4rem;
    border-radius: 0.4rem;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}
.box-menu:hover {
    background-color: rgb(82, 172, 255);
}
.box-menu .content-menu .title-product-menu {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--color-primary);
}
/* Menu End */
/*  Popular Start */
.popular {
    width: 100%;
    padding: 1rem 0;
    margin-top: 0.5rem;
    user-select: none;
}
.box-game .image-game {
    width: 100%;
    border-radius: 0.2rem;
}
.popular .container,
.new-game .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.4rem;
}
.box-game {
    background-color: var(--bg-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 0.6rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.13);
}
.box-game span {
    padding-top: 0.4rem;
}
/*  Popular End */
/*  NewGame Start */
.new-game {
    width: 100%;
    margin: 1.2rem 0;
}
/*  NewGame End */
/*  Box About Start */
.about-box {
    width: 100%;
    padding: 1rem 0;
}
.img-box-about {
    width: 100px;
}
.about-box .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.2rem;
    background-color: rgb(119, 190, 255);
    border-radius: 0.2rem;
    padding: 0.8rem 0.4rem;
}
.about-box .right .parent-box-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.about-box .right .parent-box-right .box-about-right {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.6rem 0.8rem;
    gap: 0.2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.13);
    border-radius: 0.2rem;
}
.box-about-right .text-about-right {
    font-size: 0.6rem;
    font-weight: 600;
}
.about-box .sosmed-box-about {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sosmed-box-about .sosmed-link {
    padding: 0.2rem;
    border-radius: 0.2rem;
    text-decoration: none;
}
.about-box .left .content-box-left {
    padding-top: 1rem;
}
.content-box-left .heading-box {
    font-size: 1.2rem;
    font-weight: 600;
}
.content-box-left .paragraft-box-about {
    font-size: 0.6rem;
    font-weight: 400;
}
/*  Box About End */
/*  footer start */
.footer {
    margin-top: 1rem;
    padding: 1px 0;
    width: 100%;
}
.footer .copyright {
    margin-top: 2rem;
    font-size: 0.6rem;
    font-weight: 200;
    text-align: center;
}
/*  footer End */

/*  Transaksi Start */
.transaksi {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
    z-index: 9;
    background-color: white;
    user-select: none;
    user-zoom: none;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.3s linear;
}
.transaksi::backdrop {
    background-color: black;
}
.transaksi.active {
    transform: scaleY(1);
}
.transaksi .heading-transaksi {
    margin-top: 5rem;
    text-align: center;
}
.icn-close-modal {
    position: absolute;
    right: 4px;
    top: 1.4rem;
}
/*  Transaksi End */

/* ##
Responsive
## */
@media (min-width: 640px) {
    /* Navbar */
    .navbar-link {
        width: 40%;
    }
    .menu .heading-menu,
    .popular .heading-popular,
    .new-game .heading-game {
        margin-left: 13vw;
    }
    /*     ## */
    .popular .container,
    .new-game .container {
        grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
        gap: 0.4rem;
    }
}
@media (min-width: 768px) {
    /* Navbar */
    .navbar-link {
        width: 30%;
    }
    .menu .heading-menu,
    .popular .heading-popular,
    .new-game .heading-game {
        margin-left: 13vw;
    }
    /*     ## */
    .popular .container,
    .new-game .container {
        grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
        gap: 0.4rem;
    }
}

@media (min-width: 1024px) {
    /* Navbar */
    .navbar-link {
        width: 32%;
    }
    .menu .heading-menu,
    .popular .heading-popular,
    .new-game .heading-game {
        margin-left: 4vw;
    }
    /*     ## */
    .popular .container,
    .new-game .container {
        grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        gap: 0.4rem;
    }
}

@media (min-width: 1280px) {
    /* Navbar */
    .navbar-link {
        width: 35%;
    }
    .menu .heading-menu,
    .popular .heading-popular,
    .new-game .heading-game {
        margin-left: 6vw;
    }
    /*     ## */
    .popular .container,
    .new-game .container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 0.4rem;
    }
}
